[submodule "packages/contracts/circuits"]
    path = packages/contracts/circuits
    url = git@github.com:mystikonetwork/mystiko-circuits.git
[submodule "foundry/lib/forge-std"]
    path = foundry/lib/forge-std
    url = https://github.com/foundry-rs/forge-std
